node_modules
.env
# # is this frontened .gitignore file??
# # i sent you screenshot , how all this looks to me., see it in telegram. watched it?
# # this is back end, are you able to see my folders/files on the left?
# # yeah,okay. I see that. so try pushing to heroku now... what say?, i can shar terminal too. This live share is just amazing.

# # cd part3/lesson-notes/
# # git add .
# # git commit -m "Magical Build"
# # git push heroku master
# #           ^     ^this is branch to be pushed to on the remote.
# # this is remote name
# # SO, WE HAVE THE COMMIT ID EF89DAF
# # CHECKED YOUR ONLINE DEPLOY OF THE HEROKU?

# # // have no idea how to push to heroku off top of head... assuming from backend?
# # // that last line is the ticket
# # many many many thanks
# I saw it there, checking chrome now. still nothing at localhost:3001...?? 
# is it working locally? now??
# seee th